{{template "header"}}

<h1>APPLY</h1>
<nav>
  <ul>
    <li><a href="/index"></a>Index</a></li>
    <li><a href="/about"></a>About</a></li>
    <li><a href="/contact"></a>Contact</a></li>
    <li><a href="/apply"></a>Apply</a></li>
  </ul>
</nav>

 <form action="/apply" method="post">

    <label for="fnm">First Name</label>
    <input type="text"name="fname" id="fnm">

    <input type="submit">

</form>

{{template "footer"}}
