{{define "nav"}}

<div class="container">
  <nav>
    <ul>
      <li><a href="/">ME</a></li>
      <li><a href="/about">PROJECTS</a></li>
      <li><a href="/contact">CONTACT</a></li>
      <li><a href="/apply">DROP ME A MESSGE :)</a></li>
    </ul>
  </nav>
</div>
{{end}}
