{{define "nav-main"}}
<nav>
  <ul>
     <li><a href="/index"></a>Index</a></li>
     <li><a href="/about"></a>About</a></li>
     <li><a href="/contact"></a>Contact</a></li>
     <li><a href="/apply"></a>Apply</a></li>
  </ul>
</nav>
{{end}}
